/* 
Select all spans that are immediate children of buttons 
From calculator
*/

/*** ELEMENT ***/


body{
	background-image: url("assets/images/wallpaper.jpg");
	background-color: transparent;
	
}

button > span {
    font-size: 20px;
    font-weight: bolder;
}



/*** CLASS ***/

.container{
	background-color: transparent;
}

.row{
	background-color: transparent;
}

.inlineBlockDisplay{
	display: inline-block;
	vertical-align: middle;
}

.btn-primary{
	margin: 2px;
}

.divider{
	background-color: #343a40; /* nav bar color */
	height: 25px;
	width: 100%;
	margin: 2px;
}

.characterName{
	margin: auto;
	font-size: 30px;
    font-weight: bold;
}

.characterClass{
	margin: auto;
	font-size: 20px;
}

.heroCharacter{
	margin: 2px;
	padding: 5px;
}

.heroCharacter:hover{
	background-color: lime;
}

.villainCharacter{
	margin: 2px;
	padding: 5px;
}

.villainCharacter:hover{
	background-color: red;
}

/*** ID ***/

#heroHeader{
	background-color: #ffc107;
}

#heroFooter{
	background-color: #ffc107;
}

#villainHeader{
	background-color: #dc3545;;
}

#villainFooter{
	background-color: #dc3545;;
}


#heroSelectionArea{
	margin: 10px;
}

#villainSelectionArea{
	display: none;
	margin: 10px;
}

#battleGround{
	display: none;
	margin: 10px;
}

#fightDataArea{
	display: none;
	margin: 10px;
}

#battleComplete{
	display: none;
	margin: 10px;
	padding: 5px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
}

#heroMouseOverOutput{
	margin: 2px;
	color: #343a40;
	font-size: 30px;
	font-weight: bold;
}

#villainMouseOverOutput{
	margin: 2px;
	color: #343a40;
	font-size: 30px;
	font-weight: bold;
}

#btn-continue:hover{
	background-color: #ffc107; /*warning yellow*/
	border: 5px solid #dc3545; /*danger red*/
}

#btn-attack{
	margin: 5px;
	border: 5px solid #dc3545; /*danger red*/
}

#btn-attack:hover{
	border: 5px solid #ffc107; /*warning yellow*/
	background-color: #dc3545; /*danger red*/
}

#btn-defend{
	margin: 5px;
	border: 5px solid #ffc107; /*warning yellow*/
}

#btn-defend:hover{
	border: 5px solid #dc3545; /*danger red*/
	background-color: #ffc107;
}

#btn-continue{
	display: none;
	border: 5px solid #ffc107; /*warning yellow*/
}

#btn-continue:hover{
	border: 5px solid #dc3545; /*danger red*/
}

#btn-newgame{
	display: none;
	border: 5px solid #ffc107; /*warning yellow*/
}

#btn-newgame:hover{
	border: 5px solid #dc3545; /*danger red*/
}

#btn-quit{
	display: none;
	border: 5px solid #dc3545; /*danger red*/
}

#btn-quit:hover{
	border: 5px solid #ffc107; /*warning yellow*/
}

#vsIcon{
	/*vertical-align: middle;*/
}









