/* 
Select all spans that are immediate children of buttons 
From calculator
*/
button > span {
    font-size: 2.5rem;
}

.btn-primary{
	margin: 2px;
}

.divider{
	background-color: #343a40; /* nav bar color */
	height: 25px;
	width: 100%;
	margin: 2px;
}